    <div class="flex justify-center align-middle">
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="square-jelly-box">
            <p style="font-size: 20px; color: black"><b>Loading...</b></p>
            </ngx-spinner> 
        <div class="flex-1 mt-6 p-4 max-w-md cursor-pointer">
                <div class="rounded-lg overflow-hidden shadow-lg bg-green-500" (click)="startSpin1()">
                        <img class="w-full h-64" src="../../assets/images/doctor.jpg" alt="doctor png">
                        <div class="px-6 py-4" id="doc-login">
                          <div class="font-normal text-3xl mb-2 text-center text-white">Doctor Login</div>
                        </div>
                </div>
        </div>
        <div class="flex-1 mt-6 p-4 max-w-md cursor-pointer">
                <div class="rounded-lg overflow-hidden shadow-lg bg-green-500" (click)="startSpin2()">
                        <img class="w-full h-64 object-cover object-contain" src="../../assets/images/patient.svg" alt="patient png">
                        <div class="px-6 py-4" id="pat-login">
                          <div class="font-normal text-3xl mb-2 text-center text-white">Patient Login</div>
                        </div>
                </div>
        </div>
    </div>
