#header{
    
    width : auto;
    height : 200px;
    text-align : center;
    margin : 10px;
    /* background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    border-radius: 25px; 
    background-color: #3aafa9;
    box-shadow: 10px 10px #feffff;

}

h1{
    color: #FEFFFF;
    
}

  