<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="square-jelly-box">
<p style="font-size: 20px; color: black"><b>Loading...</b></p>
</ngx-spinner> 

<nav class="bg-green-500 p-3">
    <div class="flex justify-evenly flex-wrap">
        <a class="nav-link btn-primary" [routerLink] = "['/doctorLogin']"> Login as Doctor</a>
        
        <a class="nav-link btn-primary" [routerLink] = "['/homepage']"> Go back to home</a>
        
    </div>
  </nav>
  <app-alert></app-alert>

<div class="container mt-4 text-white flex justify-center">
            <div class="flex flex-col justify-center align-middle p-16 max-w-xl rounded-md bg-green-500">
                
  
                  <h2 class="flex-1 text-3xl text-center">Choose the method of Login</h2>  

                  <form [formGroup]="form" class="flex-1 text-center" #patientInformation>  
                    
                    <div class="flex justify-center mt-4">  
                      <div class="col-md-10"> 
                        <p>if this is your first login</p> 
                          <button (click)="generateOtp()" class="btn-primary">Generate OTP </button>
                      </div>  
                    </div>
                    <div *ngIf='otpRecieved' class="flex justify-center flex-col">  
                            <label for="otp" class="text-xl mt-4">Enter OTP</label>
                            <input type="password" name="otp" id="otp" class="input-area mt-2" formControlName="otp">
                            <button (click)="checkOtp()" class="btn-primary mt-4">Check OTP</button>
                      </div>
                    <p class="m-2">or</p>
                    <div class="flex justify-center">  
                            <label for="password" > <span class="text-white text-2xl">Enter Password</span> 
                            <input formControlName="password" class="form-control input-area" type="password">   
                            </label>  
                      </div>  
                    <div class="row align-items-center justify-content-center" style="margin: 20px;">  
                      <div class="col-md-offset-1 col-md-4">
                          <ngx-spinner
                          bdColor="rgba(51,51,51,0.8)"
                          size="medium"
                          color="#fff"
                          type="square-jelly-box">
                          <p style="font-size: 20px; color: black"><b>Loading...</b></p>
                         </ngx-spinner>  
                          <button class="btn btn-md btn-primary btn-style" (click)="login()">Login</button>  
                      </div>  
                    </div>
                    
                  </form>
                 
    </div>
</div>